{% extends 'ciudadanos/index.html' %}
{% block titulo %}Registro de Cuenta{% endblock %}
{% block content %}
<form action="/registro/" method="post" enctype="multipart/form-data"><input type='hidden' name='csrfmiddlewaretoken' value='rPtiFpdFzU2prAYN47ZKsmZtx82lj0uPGham1UO8MavdfexQ6ik2nNbNzEcIkHqP'/>
  {% csrf_token %}
  <ul>
    {{form.as_ul}}
    {{form.media}}
    {% for fo in inlines %}
        {{ fo.as_p }}
    {% endfor %}
    <li><input type="submit" value="Enviar"/></li>
    </ul>
</form>
{% endblock %}
