{% extends 'ciudadanos/index.html' %}
{% block titulo %}Pasaportes{% endblock %}
{% block miga %}<a href="/">Inicio</a>{% endblock %}
{% block content %}
<form action="/servicios/registro/pasaporte/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        <li>
            <span>Copia ampliada (150) de la cedula de ciudadania:</span>
            <div class="inp">
                <input id="id_cedula" name="cedula" type="file" required />
                <label for="id_cedula"><i class="micon">cloud_upload</i> <span>Seleccionar Archivo</span></label>
            </div>
        </li>
        <li>
            <span>Foto:</span>
            <div class="inp">
                <input id="id_foto" name="foto" type="file" required />
                <label for="id_foto"><i class="micon">cloud_upload</i> <span>Seleccionar Archivo</span></label>
            </div>
        </li>
        <li>
            <input type="submit" value="Enviar"/>
        </li>
    </ul>
</form>
{% endblock %}
