{% extends 'ciudadanos/index.html' %}
{% block titulo %}Registro Profesional sin rural{% endblock %}
{% block miga %}<a href="/">Inicio</a>{% endblock %}
{% block content %}
<form action="/servicios/registro/pro/no/" method="post" enctype="multipart/form-data"><input type='hidden' name='csrfmiddlewaretoken' value='rPtiFpdFzU2prAYN47ZKsmZtx82lj0uPGham1UO8MavdfexQ6ik2nNbNzEcIkHqP'/>
  {% csrf_token %}
  <ul>
    {{form.as_ul}}
    {% for fo in inlines %}
        {{ fo.as_p }}
    {% endfor %}
    <li><input type="submit" value="Enviar"/></li>
    </ul>
</form>
{% endblock %}
